<h1>Hr Zunair </h1>
<%= link_to 'About us', about_path, target: '_blank', style: 'color:red' %>
<%= link_to 'Contact us', contact_path, target: '_blank', style: 'color:red' %>
<%= link_to 'Privacy Policy', privacy_policy_path, target: '_blank', style: 'color:red' %>
<%= link_to 'Terms and Conditions', terms_and_conditions_path, target: '_blank', style: 'color:red' %>