<h1>Pages#terms_and_conditions</h1>
<p>Find me in app/views/pages/terms_and_conditions.html.erb</p>

<%= link_to 'About us', about_path, target: '_blank' %>
<%= link_to 'Contact us', contact_path, target: '_blank' %>
<%= link_to 'Privacy Policy', privacy_policy_path, target: '_blank' %>
<%= link_to 'Terms and Conditions', terms_and_conditions_path, target: '_blank' %>
